#fav-section {
    position: relative;
    background-color: #fff;
    padding-top: 15em;
}

h2.text-things {
    font-weight: 800;
    font-size: 2em;
    margin-top: 2em;
    color: $main-bg;

}

h3.sub-text-things {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
}

button {
    background-color: $main-bg;
    padding: 1em 2em;
    border-radius: 2em;
    border: none;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;

}
